<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nazar.v102_l100">

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyServiceDataCollection"
            android:enabled="true"
            android:exported="true"
            android:process=":MyServiceDataCollection" />

        <activity
            android:name=".ShowDataBase"
            android:label="@string/title_activity_show_data_base"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nazar.v102_l100.MainActivity" />
        </activity>
        <activity android:name=".CreateFiles" />
        <activity android:name=".AllGraphs" />
        <activity android:name=".ChoiseOperationGraphs" />
        <activity
            android:name=".OneGraph"
            android:screenOrientation="landscape" />
        <activity android:name=".oneRevert"></activity>
    </application>

</manifest>